<h3 class="title is-4">this genre has  <%= @genre.products.count %> products</h3>
<div class="columns is-multiline">
  <%= paginate @genre.products %>
  <%= render partial: 'products/product', collection: @genre.products, locals: {show_link: true} %>
  <%= paginate @genre.products %>
</div>