<h3>this genre has  <%= @genre.products.count %> products</h3>
  <ul>
    <% @genre.products.each do |product| %>
      <li>
        <%= link_to product.name, product_path(product)%>
      </li>
    <% end %>
  </ul>