<div class="columns">
  <div class="column">
    <h2 class="title is-2">Genres</h2>
        <ul>
      <% @genres.each do |genre|%>
        <li>
            <%= link_to genre.name, genre_path(genre)%>
        </li>
        <% end %>

    </ul>
  </div>

  <div class="column">
    <h2 class="title is-2">Products</h2>
    <ul>
      <% @products.each do |product|%>
        <li>
            <%= link_to product.name, product_path(product)%>
        </li>
        <% end %>

    </ul>
  </div>