
  <%= form_with(url: search_products_path, method: :get, local: true) do %>
    <div class="field is-grouped">
    <div class="control is-expanded">
  <%= text_field_tag(:keywords, nil, class: "input", placeholder: 'Search For Games') %>

  </div>

  <div class= "control is-expanded">
    <%= select_tag(:genre, options_for_select([
      ['All', nil],
      ['Action', 139],
      ['Adventure', 142],
      ['Animation & Modeling', 145],
      ['Casual', 147],
      ['Free to Play', 140],
      ['Indie', 143],
      ['RPG', 144],
      ['Racing', 149],
      ['Simulation', 148],
      ['Strategy', 141],
      ['Video Production', 146]
    ]))%>

  </div>

  <div class="control">
   <%= submit_tag("Search", class: "button is-primary") %>
  </div>

</div>
<% end %>