<div class = container>
  <div class = "notification is-primary">
    <%= paginate @products %>
    <div class="columns is-multiline">
      <%= render partial: 'product', collection: @products, locals: {show_link: true}%>

    </div>
    <%= paginate @products %>

  </div>

</div>


